.app-wrapper {
  font-size: 20px;
  font-family: sans-serif;
  line-height: 30px;
  font-weight: 400;
  width: 1200px;

  margin: 0 auto;
  display: grid;

  grid-template-areas:
    "h h "
    "n c";

  grid-template-columns: 1fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-gap: 10px;
}
